* {
    margin: 0;
    padding: 0;
}
.header{
    background-color: #e9d901;
    padding: 20px 100px 50px 100px;
}
.menu li{
list-style: none;
}
.menu li a{
    text-decoration: none;
}
.header_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.features{
    /* background-color: #e9d901; */
    padding: 80px 100px 80px 100px;
}
.footer{
     background-color: #131312; 
     color: aliceblue;
    padding: 20px 100px 50px 100px;
}
.footer_menus li{
    list-style: none;
    }
    .footer_menus li a{
        text-decoration: none;
        color: aliceblue;
    }
    .carousel-indicators button{
        width: 50px;
        height: 50px;
    }
@media(max-width:575px){
    .header{
        background-color: #e9d901;
        padding: 5px 10px 5px 20px;
    }
    .menu li{
    list-style: none;
    }
    .menu li a{
        text-decoration: none;
    }
    .header_content{
        padding-top: unset;
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
 
    .features{
        /* background-color: #e9d901; */
        padding: 5px 10px 5px 10px;
    }
    .box{
        /* background-color: #e9d901; */
        box-shadow: 0px 10px 15px -3px rgba(5,9,10,.2);
    }
    .footer{
        background-color: #131312; 
        color: aliceblue;
       padding: 5px 10px 5px 10px;  
   }
   .footer_menus li{
       list-style: none;
       }
       .footer_menus li a{
           text-decoration: none;
           color: aliceblue;
       }
}